* { margin: auto; padding: 0; font-family: arial;  }

body
{ background-color: rgb(255, 255, 255); 
}
body aside 
{
    background-color: rgb(0, 154, 124);
  color:white;
}
 aside img
{
  padding: 0px; margin: 10px; float: right; width: 303px;
}
header 
{ 
    background-color: rgb(255, 255, 255); 
}
header h1 
{ 
    text-align: center; color: rgb(0, 0, 0); padding: 0.5px; font-size: 1.5em; font-style: italic; 
}
header h2
 { 
     text-align: center; color: rgb(255, 255, 255); padding: 0.5px; font-size: 1.2em;
 }

div img
{
display:grid;
margin-left: auto;
margin-right: auto;
align-items: center; width:500px; height: 100px;
background-color: rgb(0, 154, 124);
}

nav 
{
     background-color: rgb(255, 255, 255); min-height: 2em;
 }
nav p 
{
     display: inline; 
}
nav a:link, nav a:visited 
{
     text-decoration: none; color: rgb(0, 154, 124); background-color: rgb(255, 255, 255); margin: 0.3em;
}
nav a:hover, nav a:active 
{ 
    text-decoration: none; color: rgb(138, 45, 64); background-color: rgb(255, 251, 251); margin: 0.3em; 
}
section
 { 
width: 75%; background-color: rgb(138, 45, 64); float: left;
 }
section h1 
{ 
    text-align: center; padding: 0.5em; color: rgb(255, 255, 255); font-size: 1.4em; 
}
section h2 
{ 
    text-align: center; padding: 0.5em; color: rgb(255, 255, 255); font-size: 1.2em; 
}
section h3 
{ 
    text-align: left; padding: 0.3em 3em; color: rgb(255, 255, 255); font-size: 1em; 
}
article 
{
margin: 0.5em 3em; padding: 0.5em 2em; background-color: white; border: 3px double rgb(0, 154, 124);
 }
article p 
{ 
    text-align: justify;
 }
aside 
{
 width: 25%; float: left;
 }
footer 
{
 clear: both; background-color: rgb(0, 154, 124);
 }
 footer h1
 {
     text-align: center; font-style: italic; color: rgb(255, 255, 255);
 }
footer h2
 {
    text-align: center; font-size: small; font-style: italic; color: rgb(255, 255, 255); padding: 0.7em; 
}
    dl, a
    {
text-align: center; color: rgb(255, 255, 255); font-size: 1em
    }
    legend
    {
         text-align: center;  font-style: italic; color: rgb(255, 255, 255); padding: 0.7em
    }
  aside p
  {
text-align: center; font-style: italic;
  }
.ramiro.esquivel
{
    
}
#ramiro .esquivel
{
    
}
